* text=auto
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.txt text eol=lf
*.glb binary
*.wasm binary
*.hdr binary
*.png binary
*.jpg binary
*.webp binary
*.zip binary
dist/app.bundle.js linguist-generated=true whitespace=-blank-at-eol
dist/app.bundle.js.LEGAL.txt linguist-generated=true
